.rightclick {
  display: none;
  position: absolute;
  width: 200px;
  margin: 0;
  padding: 0;
  background: #423f3f;
  border-radius: 5px;
  list-style: none;
  box-shadow:
    0 15px 35px rgba(50,50,90,0.1),
    0 5px 15px rgba(0,0,0,0.07);
  overflow: hidden;
  z-index: 999999;
}

.rightclick li {
  font-family : "Roboto", "Helvetica", "Arial", "sans-serif"; 
  border-left: 3px solid transparent;
  transition: ease .2s;
}

.rightclick li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: ease .2s;
}

.rightclick li:hover {
  background: #807c7c;
  border-left: 3px solid gold;
}

.rightclick li:hover a {
  color: black;
}